Repository JustinPMoran/MongoTickets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, android-test

.gitlab-ci.yml:

stages:             # these stages (jobs) forms the CICD pipeline
  - mavenbuild      # this is a JOB to build your Springboot application
  - maventest       # this is a JOB to run tests in your Springboot application (it's okay you don't have any test for now)
  # - mavendeploy     # this is a JOB to deploy your Springboot application on your server
  - androidbuild    # this is a JOB to build your Android application
  - androidtest     # this is a JOB to run tests in your Android application (it's okay you don't have any test for now)

maven-build:
  stage: mavenbuild     # one of the stages listed above
  tags:                 # to specify which runner to execute this job
    - springboot_tag    # change to your runner's tag
  script:               # what to execute for this job
    - cd Backend        # change 'Backend' to to where you have the pom.xml (do not add / in the beginning)
    - mvn clean package       # maven package
    - ls -l target/
  artifacts:            # where to output the packaged jar file, change 'Backend' to to where you have the pom.xml
    paths:
      - Backend/target/*.jar # change 'Backend' to where you have 'target' (do not add a / in the beginning)
  only:
    refs:
      - main            # only to trigger the pipeline when changes are pushed to 'main'
    changes:
      - Backend/**/*    # more specifically - only when changes are made inside the 'Backend' folder

maven-test:
  stage: maventest     # one of the stages listed above
  tags:
    - springboot_tag   # change to your runner's tag
  script:
    - cd Backend       # change 'Backend' to to where you have the pom.xml (do not add / in the beginning)
    - mvn test         # maven test
  only:
    refs:
      - main            # only to trigger the pipeline when changes are pushed to 'main'
    changes:
      - Backend/**/*    # more specifically - only when changes are made inside the 'Backend' folder

# auto-deploy:
#   stage: mavendeploy    # one of the stages listed above
#   tags:
#     - springboot_tag      # change to your runner's tag
#   dependencies:
#     - maven-build  # Ensures the artifact is available
#   script:               # script to run the deployment service you created
#    - cd Backend        # change 'Backend' to to where you have the pom.xml (do not add / in the beginning)
#    - sudo mv target/*.jar /target/web-demo.jar
#    - sudo systemctl stop system-web-demo
#    - sudo systemctl start system-web-demo
#   only:
#     refs:
#       - main            # only to trigger the pipeline when changes are pushed to 'main'
#     changes:
#       - Backend/**/*    # more specifically - only when changes are made inside the 'Backend' folder

android-build:
  image: ghcr.io/cirruslabs/android-sdk:34
  stage: androidbuild
  tags:
    - prerak_tag
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x Frontend/gradlew
  script:
    - cd Frontend
    - ./gradlew build
  only:
    refs:
      - prerak_CICD

android-test:
  image: ghcr.io/cirruslabs/android-sdk:34
  stage: androidtest
  tags:
    - prerak_tag
  before_script:
    - cd Frontend
    - chmod +x ./gradlew
  script:
    - ./gradlew test
  only:
    refs:
      - prerak_CICD
    changes:
        - Frontend/**/*
        - gitlab-ci.yml
  needs:
    - job: android-build

??
  .gitlab-ci.yml
Due: none

pls work?
  .gitlab-ci.yml
Due: none

pls work?
  .gitignore
Due: none

final one (probably)
  Frontend/gradle/wrapper/gradle-wrapper.jar
Due: android-test

everything together
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Test backend pipeline
  Experiments/nickExperiment/helloworld/src/main/java/coms309/WelcomeController.java
Due: none

Backend change for CD
  Backend/src/main/java/coms309/Friends/FriendshipController.java
  Experiments/nickExperiment/helloworld/src/main/java/coms309/WelcomeController.java
Due: maven-build, maven-test

Revert "Backend change for CD"
  Backend/src/main/java/coms309/Friends/FriendshipController.java
  Experiments/nickExperiment/helloworld/src/main/java/coms309/WelcomeController.java
Due: maven-build, maven-test

V2 CICD
  Backend/src/main/java/coms309/WelcomeController.java
  Experiments/nickExperiment/helloworld/src/main/java/coms309/WelcomeController.java
Due: maven-build, maven-test

init NickSystemTest
  Backend/pom.xml
  Backend/src/test/java/NickSystemTest.java
Due: maven-build, maven-test

Update pom.xml
  Backend/pom.xml
Due: maven-build, maven-test

revert
  Backend/pom.xml
  Backend/src/test/java/NickSystemTest.java
Due: maven-build, maven-test

revert revert
  Backend/pom.xml
  Backend/src/test/java/NickSystemTest.java
Due: maven-build, maven-test

Create AnoopSystemTest.java
  Backend/src/test/java/AnoopSystemTest.java
Due: maven-build, maven-test

Update AnoopSystemTest.java
  Backend/src/test/java/AnoopSystemTest.java
Due: maven-build, maven-test

Add Nick's Tests
  Backend/src/main/resources/application.properties
  Backend/src/test/java/NickSystemTest.java
  Backend/src/test/java/coms309/AccountControllerTest.java
  Backend/src/test/java/coms309/NickSystemTest.java
Due: maven-build, maven-test

added purchase
  Frontend/app/build.gradle.kts
  Frontend/app/src/main/java/com/example/dashboard/ui/purchase/Purchase.kt
  Frontend/app/src/main/java/dataClasses/Purchase.kt
  Frontend/app/src/main/res/layout/fragment_purchase.xml
  Frontend/app/src/main/res/navigation/mobile_navigation.xml
Due: android-test

Update application.properties
  Backend/src/main/resources/application.properties
Due: maven-build, maven-test

cart
  Backend/src/main/java/coms309/Accounts/Account.java
  Backend/src/main/java/coms309/Accounts/AccountController.java
Due: maven-build, maven-test

Cart
  Backend/src/main/java/coms309/Accounts/AccountController.java
Due: maven-build, maven-test

finished
  Backend/src/main/java/coms309/Accounts/Account.java
  Backend/src/main/java/coms309/Accounts/AccountController.java
Due: maven-build, maven-test

cart init
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartItem.kt
  Frontend/app/src/main/res/layout/fragment_cart.xml
  Frontend/app/src/main/res/layout/item_cart.xml
Due: android-test

cart
  Frontend/app/build.gradle.kts
  Frontend/app/src/main/java/com/example/dashboard/MainActivity.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartItem.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/EventDetailsFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/TicketDetailsFragment.kt
  Frontend/app/src/main/java/dataClasses/CartManager.kt
  Frontend/app/src/main/java/dataClasses/EventDetails.kt
  Frontend/app/src/main/res/drawable/baseline_chat_24.xml
  Frontend/app/src/main/res/drawable/baseline_shopping_cart_24.xml
  Frontend/app/src/main/res/layout/fragment_cart.xml
  Frontend/app/src/main/res/layout/fragment_ticket_details.xml
  Frontend/app/src/main/res/layout/item_cart.xml
  Frontend/app/src/main/res/layout/splash_screen.xml
  Frontend/app/src/main/res/menu/activity_main_drawer.xml
  Frontend/app/src/main/res/navigation/mobile_navigation.xml
  Frontend/gradle/libs.versions.toml
Due: android-test

checkout init
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/checkout/CheckoutFragment.kt
  Frontend/app/src/main/res/layout/fragment_checkout.xml
  Frontend/app/src/main/res/navigation/mobile_navigation.xml
Due: android-test

PostTicketsSocket + Payment / Transaction
  Backend/src/main/java/coms309/Events/EventController.java
  Backend/src/main/java/coms309/Payment/Transaction.java
  Backend/src/main/java/coms309/Payment/TransactionController.java
  Backend/src/main/java/coms309/Payment/TransactionRepository.java
  Backend/src/main/java/coms309/PostTickets/PostTicketSocket.java
  Backend/src/main/java/coms309/Tickets/TicketController.java
  Documents/Payment.html
  Documents/PostTickets.html
Due: maven-build, maven-test

Admin add ticket form
  Backend/src/main/java/coms309/Accounts/Account.java
  Backend/src/main/java/coms309/Tickets/TicketController.java
  Documents/Payment.html
  Documents/PostTickets.html
Due: maven-build, maven-test

tickets + cart
  Frontend/app/src/main/java/api/EventApiService.kt
  Frontend/app/src/main/java/api/UserApiService.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartAdapter.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartItem.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartManager.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/checkout/CheckoutFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/TicketAdapter.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/TicketDetailsFragment.kt
  Frontend/app/src/main/java/dataClasses/CartItem.kt
  Frontend/app/src/main/java/dataClasses/CartManager.kt
  Frontend/app/src/main/java/dataClasses/Ticket.kt
  Frontend/app/src/main/res/layout/fragment_cart.xml
  Frontend/app/src/main/res/layout/fragment_ticket_details.xml
  Frontend/app/src/main/res/layout/item_cart.xml
  Frontend/app/src/main/res/layout/item_ticket.xml
Due: android-test

buh
  Frontend/app/src/main/java/api/EventApiService.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/createevents/CreateEventDetails.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/createevents/CreateEventsFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/EventAdapter.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/EventDetailsFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events_liveticketprice/eventsliveticketprice.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/purchase/Purchase.kt
  Frontend/app/src/main/res/layout/card_event_details.xml
  Frontend/app/src/main/res/layout/fragment_create_events.xml
  Frontend/app/src/main/res/layout/fragment_event_details.xml
  Frontend/app/src/main/res/layout/fragment_purchase.xml
  Frontend/app/src/main/res/layout/item_event_card.xml
  Frontend/app/src/main/res/navigation/mobile_navigation.xml
  Frontend/app/src/main/res/xml/network_security_config.xml
  Frontend/gradle/libs.versions.toml
Due: android-test

buhhh
  Frontend/app/src/main/java/com/example/dashboard/ui/events/EventAdapter.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/EventDetailsFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/events/TicketAdapter.kt
Due: android-test

checkout
  Frontend/app/src/main/java/api/UserApiService.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartFragment.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/cart/CartManager.kt
  Frontend/app/src/main/java/com/example/dashboard/ui/checkout/CheckoutFragment.kt
  Frontend/app/src/main/res/layout/fragment_checkout.xml
  Frontend/gradle/libs.versions.toml
Due: android-test

my tickets
  Backend/src/main/java/coms309/Accounts/AccountController.java
Due: maven-build, maven-test
